<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861961987029-2hsmc543en22iktlu4hp3iaasl0o3gpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861961987029-2hsmc543en22iktlu4hp3iaasl0o3gpv</string>
	<key>API_KEY</key>
	<string>AIzaSyDRnd5qCBnvJsDKa_qMtJpClckc4RpUeOs</string>
	<key>GCM_SENDER_ID</key>
	<string>861961987029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bogdankhamelyuk.learnapp</string>
	<key>PROJECT_ID</key>
	<string>my-learning-app-409018</string>
	<key>STORAGE_BUCKET</key>
	<string>my-learning-app-409018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861961987029:ios:4025134fa60a845763135c</string>
</dict>
</plist>